# 파이썬 연습문제 100문제

- https://www.datamanim.com/dataset/03_dataq/pandas_practice.html

# 2. 유튜브 공범컨텐츠 동영상 데이터

> Attention
- 데이터 출처 :https://www.kaggle.com/kukuroo3/youtube-episodic-contents-kr(참고, 데이터 수정)
- 데이터 설명 : 유튜브 “공범” 컨텐츠 동영상 정보 ( 10분 간격 수집)
- dataurl1 (비디오 정보) = https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv
- dataurl2 (참가자 채널 정보)= https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv

In [1]:
import pandas as pd

channel = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')

display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1

### Question 1

각 데이터의 ‘ct’컬럼을 시간으로 인식할수 있게 datatype을 변경하고  
video 데이터의 videoname의 각 value 마다 몇개의 데이터씩 가지고 있는지 확인하라

In [2]:
channel['ct'] = pd.to_datetime(channel['ct'])
video['ct'] = pd.to_datetime(video['ct'])

video['videoname'].value_counts()

 공범 EP1    3492
 공범 EP2    3204
 공범 EP3    2568
 공범 EP4    2280
 공범 EP5    1562
 공범 EP6    1274
 공범 EP7     555
 공범 EP8     266
Name: videoname, dtype: int64

> **Answer**

In [3]:
video['ct'] = pd.to_datetime(video['ct'])
answer = video.videoname.value_counts()
print(answer)

 공범 EP1    3492
 공범 EP2    3204
 공범 EP3    2568
 공범 EP4    2280
 공범 EP5    1562
 공범 EP6    1274
 공범 EP7     555
 공범 EP8     266
Name: videoname, dtype: int64

### Question 2

수집된 각 video의 가장 최신화 된 날짜의 viewcount값을 출력하라

In [4]:
video.sort_values(by=['videoname','ct'], ascending=[True,False]).drop_duplicates('videoname')[['viewcnt', 'videoname', 'ct']]

       viewcnt videoname                  ct
3491   3180532    공범 EP1 2021-11-01 15:30:03
6695   2199328    공범 EP2 2021-11-01 15:30:03
9263   1671294    공범 EP3 2021-11-01 15:30:03
11543  1818493    공범 EP4 2021-11-01 15:30:03
13105  1503435    공범 EP5 2021-11-01 15:30:04
14934  1750222    공범 EP6 2021-11-01 15:30:04
13660  1630200    공범 EP7 2021-11-01 15:30:05
15200  1289088    공범 EP8 2021-11-01 15:30:05

> **Answer**

In [5]:
answer = video.sort_values(['videoname','ct']).drop_duplicates('videoname',keep='last')[['viewcnt','videoname','ct']].reset_index(drop=True)
display(answer)

   viewcnt videoname                  ct
0  3180532    공범 EP1 2021-11-01 15:30:03
1  2199328    공범 EP2 2021-11-01 15:30:03
2  1671294    공범 EP3 2021-11-01 15:30:03
3  1818493    공범 EP4 2021-11-01 15:30:03
4  1503435    공범 EP5 2021-11-01 15:30:04
5  1750222    공범 EP6 2021-11-01 15:30:04
6  1630200    공범 EP7 2021-11-01 15:30:05
7  1289088    공범 EP8 2021-11-01 15:30:05

### Question 3

Channel 데이터중 2021-10-03일 이후 각 채널의 처음 기록 됐던 구독자 수(subcnt)를 출력하라

In [6]:
channel.loc[channel['ct'] > pd.to_datetime('2021-10-03')].sort_values(by='ct').drop_duplicates('channelname')[['channelname','subcnt']]

          channelname   subcnt
393            논리왕 전기   922000
266        츄정ChuJeong   322000
139             야전삽짱재   257000
901        김농밀의 농밀한 삶     7520
520   와글와글 WagleWagle    55000
1028      릴펄 Lilpearl    10100
774           형사!탐정되다    14900
647               조나단   215000
12                꽈뚜룹  1330000
1276    Balming Tiger    54300
1155    곽토리 kwak tori   471000

> **Answer**

In [7]:
channel.ct = pd.to_datetime(channel.ct)
target = channel[channel.ct >= pd.to_datetime('2021-10-03')].sort_values(['ct','channelname']).drop_duplicates('channelname')
answer = target[['channelname','subcnt']].reset_index(drop=True)
print(answer)

        channelname   subcnt
0            논리왕 전기   922000
1             야전삽짱재   257000
2        츄정ChuJeong   322000
3        김농밀의 농밀한 삶     7520
4       릴펄 Lilpearl    10100
5   와글와글 WagleWagle    55000
6               조나단   215000
7           형사!탐정되다    14900
8     Balming Tiger    54300
9     곽토리 kwak tori   471000
10              꽈뚜룹  1330000

### Question 4

각채널의 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 까지 구독자수 (subcnt) 의 증가량을 구하여라

In [8]:
q4 = channel.loc[(channel['ct'] > pd.to_datetime('2021-10-03 03:00:00')) & (channel['ct'] < pd.to_datetime('2021-11-01 15:00:00'))]
q4

,channelid,subcnt,viewcnt,videocnt,ct,channelname
12,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,414984078,738,2021-10-03 03:01:04,꽈뚜룹
13,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,417316443,738,2021-10-03 09:01:04,꽈뚜룹
14,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,417316443,738,2021-10-03 15:01:04,꽈뚜룹
15,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,417316443,738,2021-10-03 21:01:04,꽈뚜룹
16,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,417316443,738,2021-10-04 03:01:04,꽈뚜룹
...,...,...,...,...,...,...
1389,UCbBzKnCYcG7E3EIkSTdsawA,56700,7516365,57,2021-10-31 09:01:04,Balming Tiger
1390,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 15:01:04,Balming Tiger
1391,UCbBzKnCYcG7E3EIkSTdsawA,56700,7528614,57,2021-10-31 21:01:04,Balming Tiger
1392,UCbBzKnCYcG7E3EIkSTdsawA,56800,7528614,57,2021-11-01 03:01:03,Balming Tiger
1393,UCbBzKnCYcG7E3EIkSTdsawA,56800,7539876,57,2021-11-01 09:01:04,Balming Tiger

In [9]:
print(q4['channelname'].nunique())
print(q4['channelname'].unique())

11
['꽈뚜룹' '야전삽짱재' '츄정ChuJeong' '논리왕 전기' '와글와글 WagleWagle' '조나단' '형사!탐정되다'
 '김농밀의 농밀한 삶' '릴펄 Lilpearl' '곽토리 kwak tori' 'Balming Tiger']

In [10]:
q4_name = list(q4['channelname'].unique())
q4_name

['꽈뚜룹',
 '야전삽짱재',
 '츄정ChuJeong',
 '논리왕 전기',
 '와글와글 WagleWagle',
 '조나단',
 '형사!탐정되다',
 '김농밀의 농밀한 삶',
 '릴펄 Lilpearl',
 '곽토리 kwak tori',
 'Balming Tiger']

In [11]:
q4_list = []

for c in q4_name:
    q4_1 = q4.loc[q4['channelname'] == c].sort_values('ct').reset_index(drop=True)
    increase = int(q4_1.subcnt.tail(n=1) - q4_1.subcnt[0])
    q4_list.append([c, increase])

In [12]:
pd.DataFrame(q4_list)

                  0      1
0               꽈뚜룹  70000
1             야전삽짱재  11000
2        츄정ChuJeong   1000
3            논리왕 전기 -11000
4   와글와글 WagleWagle      0
5               조나단  12000
6           형사!탐정되다  10300
7        김농밀의 농밀한 삶   1540
8       릴펄 Lilpearl  11000
9     곽토리 kwak tori  -2000
10    Balming Tiger   2500

In [13]:
end = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') =='2021-11-01 15']
start = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') =='2021-10-03 03']

end_df = end[['channelname','subcnt']].reset_index(drop=True)
start_df = start[['channelname','subcnt']].reset_index(drop=True)

end_df.columns = ['channelname','end_sub']
start_df.columns = ['channelname','start_sub']


tt = pd.merge(start_df,end_df)
tt['del'] = tt['end_sub'] - tt['start_sub']
result = tt[['channelname','del']]
display(result)

        channelname    del
0               꽈뚜룹  70000
1             야전삽짱재  11000
2        츄정ChuJeong   1000
3            논리왕 전기 -11000
4   와글와글 WagleWagle      0
5               조나단  12000
6           형사!탐정되다  10300
7        김농밀의 농밀한 삶   1540
8       릴펄 Lilpearl  11000
9     곽토리 kwak tori  -2000
10    Balming Tiger   2500

> **Answer**

In [14]:
end = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') =='2021-11-01 15']
start = channel.loc[channel.ct.dt.strftime('%Y-%m-%d %H') =='2021-10-03 03']

end_df = end[['channelname','subcnt']].reset_index(drop=True)
start_df = start[['channelname','subcnt']].reset_index(drop=True)

end_df.columns = ['channelname','end_sub']
start_df.columns = ['channelname','start_sub']


tt = pd.merge(start_df,end_df)
tt['del'] = tt['end_sub'] - tt['start_sub']
result = tt[['channelname','del']]
display(result)

        channelname    del
0               꽈뚜룹  70000
1             야전삽짱재  11000
2        츄정ChuJeong   1000
3            논리왕 전기 -11000
4   와글와글 WagleWagle      0
5               조나단  12000
6           형사!탐정되다  10300
7        김농밀의 농밀한 삶   1540
8       릴펄 Lilpearl  11000
9     곽토리 kwak tori  -2000
10    Balming Tiger   2500

### Question 5

각 비디오는 10분 간격으로 구독자수, 좋아요, 싫어요수, 댓글수가 수집된것으로 알려졌다.   
공범 EP1의 비디오정보 데이터중 수집간격이 5분 이하, 20분이상인 데이터 구간( 해당 시점 전,후) 의 시각을 모두 출력하라

In [15]:
q5_ep1 = video.loc[video['videoname'] == ' 공범 EP1'].sort_values('ct').reset_index(drop=True)
q5_ep1

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,공범 EP1
1,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,공범 EP1
2,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,공범 EP1
3,c5JQp6xafqc,27451,1859,19,0,479,2021-10-07 19:40:03,공범 EP1
4,c5JQp6xafqc,36559,2306,23,0,602,2021-10-07 19:50:03,공범 EP1
...,...,...,...,...,...,...,...,...
3487,c5JQp6xafqc,3179698,41040,1113,0,7673,2021-11-01 14:50:04,공범 EP1
3488,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:00:03,공범 EP1
3489,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:10:03,공범 EP1
3490,c5JQp6xafqc,3180332,41043,1113,0,7674,2021-11-01 15:20:02,공범 EP1
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,공범 EP1

In [16]:
import datetime
q5_ep1.loc[(q5_ep1['ct'].diff(1) <= datetime.timedelta(minutes=5)) | (q5_ep1['ct'].diff(1) >= datetime.timedelta(minutes=20))]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1

In [17]:
q5_ep1[q5_ep1.index.isin([720, 721, 722, 723, 1635, 1636, 1637])]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,공범 EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,공범 EP1

In [18]:
ep_one = video.loc[video.videoname.str.contains('1')].sort_values('ct').reset_index(drop=True)

ep_one[
        (ep_one.ct.diff(1) >=datetime.timedelta(minutes=20)) | \
        (ep_one.ct.diff(1) <=datetime.timedelta(minutes=5))
      
      ]

answer = ep_one[ep_one.index.isin([720,721,722,723,1635,1636,1637])]
display(answer)

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,공범 EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,공범 EP1

> **Answer**

In [19]:
import datetime

ep_one = video.loc[video.videoname.str.contains('1')].sort_values('ct').reset_index(drop=True)

ep_one[
        (ep_one.ct.diff(1) >=datetime.timedelta(minutes=20)) | \
        (ep_one.ct.diff(1) <=datetime.timedelta(minutes=5))
      
      ]

answer = ep_one[ep_one.index.isin([720,721,722,723,1635,1636,1637])]
display(answer)

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,공범 EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,공범 EP1

### Question 6

각 에피소드의 시작날짜(년-월-일)를 에피소드 이름과 묶어 데이터 프레임으로 만들고 출력하라

In [20]:
q6 = video.sort_values(['videoname', 'ct']).drop_duplicates('videoname')[['videoname', 'ct']]
q6['ct'] = q6['ct'].dt.date
q6

      videoname          ct
10       공범 EP1  2021-10-07
3496     공범 EP2  2021-10-09
6696     공범 EP3  2021-10-14
9264     공범 EP4  2021-10-16
11544    공범 EP5  2021-10-21
13661    공범 EP6  2021-10-23
13106    공범 EP7  2021-10-28
14935    공범 EP8  2021-10-30

> **Answer**

In [21]:
start_date = video.sort_values(['ct','videoname']).drop_duplicates('videoname')[['ct','videoname']]
start_date['date'] = start_date.ct.dt.date
answer = start_date[['date','videoname']]
display(answer)

             date videoname
10     2021-10-07    공범 EP1
3496   2021-10-09    공범 EP2
6696   2021-10-14    공범 EP3
9264   2021-10-16    공범 EP4
11544  2021-10-21    공범 EP5
13661  2021-10-23    공범 EP6
13106  2021-10-28    공범 EP7
14935  2021-10-30    공범 EP8

### Question 7

“공범” 컨텐츠의 경우 19:00시에 공개 되는것으로 알려져있다.  
공개된 날의 21시의 viewcnt, ct, videoname 으로 구성된 데이터 프레임을 viewcnt를 내림차순으로 정렬하여 출력하라

In [22]:
q7 = video[['videoname','viewcnt','ct']].loc[video['ct'].dt.hour == 21].drop_duplicates('videoname').sort_values('ct', ascending=False).reset_index(drop=True)
q7

  videoname  viewcnt                  ct
0    공범 EP8   264029 2021-10-30 21:00:08
1    공범 EP7   252032 2021-10-28 21:00:04
2    공범 EP6   213899 2021-10-23 21:00:06
3    공범 EP5   201179 2021-10-21 21:00:04
4    공범 EP4   217674 2021-10-16 21:00:04
5    공범 EP3   147183 2021-10-14 21:00:04
6    공범 EP2   148144 2021-10-09 21:00:03
7    공범 EP1   117340 2021-10-07 21:00:03

> **Answer**

In [23]:
video['time']= video.ct.dt.hour

answer = video.loc[video['time'] ==21] \
            .sort_values(['videoname','ct'])\
            .drop_duplicates('videoname') \
            .sort_values('viewcnt',ascending=False)[['videoname','viewcnt','ct']]\
            .reset_index(drop=True)

display(answer)

  videoname  viewcnt                  ct
0    공범 EP8   264029 2021-10-30 21:00:08
1    공범 EP7   252032 2021-10-28 21:00:04
2    공범 EP4   217674 2021-10-16 21:00:04
3    공범 EP6   213899 2021-10-23 21:00:06
4    공범 EP5   201179 2021-10-21 21:00:04
5    공범 EP2   148144 2021-10-09 21:00:03
6    공범 EP3   147183 2021-10-14 21:00:04
7    공범 EP1   117340 2021-10-07 21:00:03

### Question 8

video 정보의 가장 최근 데이터들에서 각 에피소드의 싫어요/좋아요 비율을 ratio 컬럼으로 만들고  
videoname, ratio로 구성된 데이터 프레임을 ratio를 오름차순으로 정렬하라

In [24]:
q8 = video.copy()
q8

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1,15
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1,15
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1,15
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1,15
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1,16
...,...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,공범 EP8,14
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,공범 EP8,15
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,공범 EP8,15
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,공범 EP8,15
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,공범 EP8,15

In [25]:
q8 = q8.sort_values('ct').drop_duplicates('videoname', keep='last')
q8['ratio'] = q8['dislikecnt'] / q8['likecnt']
q8 = q8[['videoname', 'ratio']].sort_values('ratio').reset_index(drop=True)

q8

  videoname     ratio
0    공범 EP7  0.013636
1    공범 EP6  0.015881
2    공범 EP4  0.017971
3    공범 EP5  0.021128
4    공범 EP3  0.022360
5    공범 EP1  0.027118
6    공범 EP2  0.029844
7    공범 EP8  0.141357

> **Answer**

In [26]:
target = video.sort_values('ct').drop_duplicates('videoname',keep='last')
target['ratio'] =target['dislikecnt'] / target['likecnt']

answer = target.sort_values('ratio')[['videoname','ratio']].reset_index(drop=True)
answer

  videoname     ratio
0    공범 EP7  0.013636
1    공범 EP6  0.015881
2    공범 EP4  0.017971
3    공범 EP5  0.021128
4    공범 EP3  0.022360
5    공범 EP1  0.027118
6    공범 EP2  0.029844
7    공범 EP8  0.141357

### Question 9

2021-11-01 00:00:00 ~ 15:00:00까지 각 에피소드별 viewcnt의 증가량을 데이터 프레임으로 만드시오

In [27]:
q9 = video.loc[(video['ct'] >= pd.to_datetime("2021-11-01 00:00:00")) & (video['ct'] <= pd.to_datetime("2021-11-01 15:00:00"))]
q9

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,time
3398,c5JQp6xafqc,3166400,40970,1107,0,7665,2021-11-01 00:00:03,공범 EP1,0
3399,c5JQp6xafqc,3166721,40973,1107,0,7665,2021-11-01 00:10:02,공범 EP1,0
3400,c5JQp6xafqc,3167110,40972,1108,0,7665,2021-11-01 00:20:03,공범 EP1,0
3401,c5JQp6xafqc,3167459,40975,1108,0,7665,2021-11-01 00:30:03,공범 EP1,0
3402,c5JQp6xafqc,3167809,40977,1108,0,7665,2021-11-01 00:40:03,공범 EP1,0
...,...,...,...,...,...,...,...,...,...
15192,yZt-h-KcmUE,1281140,25561,3609,0,31532,2021-11-01 14:10:04,공범 EP8,14
15193,yZt-h-KcmUE,1282186,25565,3611,0,31540,2021-11-01 14:20:04,공범 EP8,14
15194,yZt-h-KcmUE,1283259,25567,3613,0,31556,2021-11-01 14:30:06,공범 EP8,14
15195,yZt-h-KcmUE,1284443,25577,3615,0,31569,2021-11-01 14:40:08,공범 EP8,14
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,공범 EP8,14

In [28]:
q9_list = []

In [29]:
for c in q8['videoname'].unique():
    q9_1 = q9.loc[q9['videoname'] == c].reset_index(drop=True)
    viewcnt = int(q9_1['viewcnt'].tail(n=1) - q9_1['viewcnt'][0])
    q9_list.append([c, viewcnt])

In [30]:
pd.DataFrame(q9_list)

         0      1
0   공범 EP7  26949
1   공범 EP6  14141
2   공범 EP4   9824
3   공범 EP5  10824
4   공범 EP3   9927
5   공범 EP1  13298
6   공범 EP2  10300
7   공범 EP8  89147

In [31]:
start = pd.to_datetime("2021-11-01 00:00:00")
end = pd.to_datetime("2021-11-01 15:00:00")

target = video.loc[(video["ct"] >= start) & (video['ct'] <= end)].reset_index(drop=True)

def check(x):
    result = max(x) - min(x)
    return result

answer = target[['videoname','viewcnt']].groupby("videoname").agg(check)
answer

           viewcnt
videoname
 공범 EP1      13298
 공범 EP2      10300
 공범 EP3       9927
 공범 EP4       9824
 공범 EP5      10824
 공범 EP6      14141
 공범 EP7      26949
 공범 EP8      89147

> **Answer**

In [32]:
start = pd.to_datetime("2021-11-01 00:00:00")
end = pd.to_datetime("2021-11-01 15:00:00")

target = video.loc[(video["ct"] >= start) & (video['ct'] <= end)].reset_index(drop=True)

def check(x):
    result = max(x) - min(x)
    return result

answer = target[['videoname','viewcnt']].groupby("videoname").agg(check)
answer

           viewcnt
videoname
 공범 EP1      13298
 공범 EP2      10300
 공범 EP3       9927
 공범 EP4       9824
 공범 EP5      10824
 공범 EP6      14141
 공범 EP7      26949
 공범 EP8      89147

### Question 10

video 데이터 중에서 중복되는 데이터가 존재한다. 중복되는 각 데이터의 시간대와 videoname 을 구하여라

In [33]:
video[video.duplicated()][['ct', 'videoname']]

                      ct videoname
722  2021-10-13 09:41:37    공범 EP1
3927 2021-10-13 09:41:37    공범 EP2

> **Answer**

In [34]:
answer  = video[video.index.isin(set(video.index) -  set(video.drop_duplicates().index))]
result = answer[['videoname','ct']]
display(result)

     videoname                  ct
722     공범 EP1 2021-10-13 09:41:37
3927    공범 EP2 2021-10-13 09:41:37