# 빅데이터 분석기사 실기 준비 놀이터
- https://www.kaggle.com/datasets/agileteam/bigdatacertificationkr

## T2-1. Titanic (Classification) / 타이타닉

### 1. 생존여부 예측모델 만들기
- 데이터셋 : titanic_train.csv
    - y_train: 생존여부(학습용)
    - trian, X_test : 승객 정보 (학습용 및 평가용)
- 학습용 데이터 (X_train, y_train)을 이용하여 생존 예측 모형을 만든 후, 이를 평가용 데이터(X_test)에 적용하여 얻은 예측값을 다음과 같은 형식의 CSV파일로 생성    
- https://www.kaggle.com/code/agileteam/t2-1-titanic-simple-baseline/notebook

#### 0. 시험 환경 세팅

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

def exam_data_load(df, target, id_name="", null_name=""):
    if id_name == "":
        df = df.reset_index().rename(columns={"index": "id"})
        id_name = 'id'
    else:
        id_name = id_name
    
    if null_name != "":
        df[df == null_name] = np.nan
    
    X_train, X_test = train_test_split(df, test_size=0.2, random_state=2021)
    
    y_train = X_train[[id_name, target]]
    X_train = X_train.drop(columns=[target])

    
    y_test = X_test[[id_name, target]]
    X_test = X_test.drop(columns=[target])
    return X_train, X_test, y_train, y_test 
    
df = pd.read_csv("./data/titanic_train.csv")
X_train, X_test, y_train, y_test = exam_data_load(df, target='Survived', id_name='PassengerId')

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((712, 11), (179, 11), (712, 2), (179, 2))

#### 1. 라이브러리 및 데이터 호출

In [2]:
import numpy as np
import pandas as pd

X_train.shape, X_test.shape, y_train.shape

((712, 11), (179, 11), (712, 2))

#### 2. EDA

In [3]:
display(X_train.info(), X_train.head(), X_train.isnull().sum())
print('='*100)
display(y_train.info(), y_train.head(), y_train.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 90 to 116
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Pclass       712 non-null    int64
 2   Name         712 non-null    object
 3   Sex          712 non-null    object
 4   Age          575 non-null    float64
 5   SibSp        712 non-null    int64
 6   Parch        712 non-null    int64
 7   Ticket       712 non-null    object
 8   Fare         712 non-null    float64
 9   Cabin        170 non-null    object
 10  Embarked     711 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 66.8+ KB

None

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
90,91,3,"Christmann, Mr. Emil",male,29.0,0,0,343276,8.0500,NaN,S
103,104,3,"Johansson, Mr. Gustaf Joel",male,33.0,0,0,7540,8.6542,NaN,S
577,578,1,"Silvey, Mrs. William Baird (Alice Munger)",female,39.0,1,0,13507,55.9000,E44,S
215,216,1,"Newell, Miss. Madeleine",female,31.0,1,0,35273,113.2750,D36,C
191,192,2,"Carbines, Mr. William",male,19.0,0,0,28424,13.0000,NaN,S

PassengerId      0
Pclass           0
Name             0
Sex              0
Age            137
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          542
Embarked         1
dtype: int64

====================================================================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 90 to 116
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Survived     712 non-null    int64
dtypes: int64(2)
memory usage: 16.7 KB

None

     PassengerId  Survived
90            91         0
103          104         0
577          578         1
215          216         1
191          192         0

PassengerId    0
Survived       0
dtype: int64

In [4]:
for c in X_train.columns:
    print(c)
    print(X_train[c].unique())
    print('='*100)

PassengerId
[ 91 104 578 216 192 184 571 439 105 867 634 175 891  74 311 465 229 791
 102 300 440   2  59 843 701 214 536 866 496 889 856 722  61 717 521 739
 626 243 723 509 151 333 513  77 785 569 382 695 845   7 852 506 329 516
 654 570 317  35 703 231 198 466 619 640 697 817 630 824 492 887 651 736
 148  44 876 208   4 152 163 518  81 732 242 354 125 449 868 808 772 726
  53 884 345 451 338  15 527 228 515 577 320 499 428 401 765 348 790 270
 244 371 655 472 807 617 752 378 119 461 545 218 768  11 684 535 355 251
  14 848 445 159 485 316 467 734 195 514  84 126  90 424 116 552 764 477
 650 326 688 828 858 685 259  87  12 434  25 356 226 341 254 253 249 265
 846 123 721 602 754 789 462 511 550 805 470  54 446 205   1 762 591 340
 344 769 293 750 310 227 403  50 780 603 799 299 286  89  99  31 315 727
  78  36 463 628 146 522 559 794 375 328 725 183 114 711  79   3 245 409
 294 572 305  13 682 455 663  95 150 557 395 859 589 854 361 837 200 528
 607 111 352  52 844 565 758 353 728 786 609 813 748 797  65 292 814 604
 674 301 861  23 815  28   5  98 573 266 665 606 418 551 166  70 141 109
 389 586 729 781 579 365 325 407 297 623 775 542 162 806 642 584 601 140
 810 457 182 478  51 169 181 816 193 312 773 185 314 809 139 391 230 720
 241 888 323 819 681 384 272 137 390 124 676 647 689 740 157 885 658 847
 519 215 804 541 298 590 189 396 645 349 262 282 523 759 580 841 491  85
 408 417  16 741 138 127 862 555 838 660 826 733 212 191 774 264 704 279
 442 576 130 275 783  32 452 263 487 818 811 850 271 771 410 171 784 165
 641  66 143 369  24  39 436 878  48  43 469 735 719 475 755  55 501 588
 280 394 387 690 459 203 308 260 692 706 429 393 510 802 652 471 592 278
 273 252 532 406 425 575 671 240  34 176  73 207 616 520 149 358 336 637
  60 402  69 416 373  27 322 869  21  94 753 335  76 497 438 128 110 638
 172 398 289 132 593 678 842 595 864 825 256 234 164 167 653 656 782 296
 332  19 698 118 318 274 281 284 267 219  68 702 625 489 855 377 556 793
  57  86  92 849 675 803 664 196 427 610 255 414 839 309 453 635 488 327
 599 443 558 587 666 566 173 529 835 291 605 430 372 517 713 343 699 498
 106 474  72 643 851 435 718 269  56 744 421 136 715 661 568 544 364 687
 853 639 277  88 161 113 612 419 710 250 197 331 174 383 763 543 101 194
 709 362 770 204 525 679 324  82 632 582 673 155 154 473 760 792 144 832
 779 767 596 426 833 834 431 743 145 757  40 821  30 560 629  97 447 190
 751 177 224 422 730 873 648 476 432 865 222 319 235 694 347 370 295 583
 875 147 533 122 108 738 388 600 480 405 801 115 659 412 830 239 307 672
 276 668 460 766 156 597 456 538 360 490 613 778 448 120 237 540 500 246
   8 179 346  18 404 524 822 553 731  83 186  20 366 677 627  26 247 881
 170 874 890 840 399 747 423 306   6 633 437 380 823 691 657 562  64 484
 707 411 742 381 482 367 258 776 614 546  71 103 199 503 397 153 350 534
 670 831 512  45 863 622 129  58 342 117]
====================================================================================================
Pclass
[3 1 2]
====================================================================================================
Name
['Christmann, Mr. Emil' 'Johansson, Mr. Gustaf Joel'
 'Silvey, Mrs. William Baird (Alice Munger)' 'Newell, Miss. Madeleine'
 'Carbines, Mr. William' 'Becker, Master. Richard F' 'Harris, Mr. George'
 'Fortune, Mr. Mark' 'Gustafsson, Mr. Anders Vilhelm'
 'Duran y More, Miss. Asuncion' 'Parr, Mr. William Henry Marsh'
 'Smith, Mr. James Clinch' 'Dooley, Mr. Patrick'
 'Chronopoulos, Mr. Apostolos' 'Hays, Miss. Margaret Bechstein'
 'Maisner, Mr. Simon' 'Fahlstrom, Mr. Arne Jonas'
 'Keane, Mr. Andrew "Andy"' 'Petroff, Mr. Pastcho ("Pentcho")'
 'Baxter, Mrs. James (Helene DeLaudeniere Chaput)'
 'Kvillner, Mr. Johan Henrik Johannesson'
 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'
 'West, Miss. Constance Mirium' 'Serepeca, Miss. Augusta'
 'Astor, Mrs. John Jacob (Madeleine Talmadge Force)'
 'Givard, Mr. Hans Kristensen' 'Hart, Miss. Eva Miriam'
 'Bystrom, Mrs. (Karolina)' 'Yousseff, Mr. Gerious'
 'Johnston, Miss. Catherine Helen "Carrie"' 'Aks, Mrs. Sam (Leah Rosen)'
 'Jensen, Mr. Svend Lauritz' 'Sirayanian, Mr. Orsen'
 'Endres, Miss. Caroline Louise' 'Perreault, Miss. Anne'
 'Ivanoff, Mr. Kanio' 'Sutton, Mr. Frederick'
 'Coleridge, Mr. Reginald Charles' 'Gillespie, Mr. William Henry'
 'Olsen, Mr. Henry Margido' 'Bateman, Rev. Robert James'
 'Graham, Mr. George Edward' 'McGough, Mr. James Robert'
 'Staneff, Mr. Ivan' 'Ali, Mr. William' 'Doharr, Mr. Tannous'
 'Nakid, Miss. Maria ("Mary")' 'Weir, Col. John' 'Culumovic, Mr. Jeso'
 'McCarthy, Mr. Timothy J' 'Svensson, Mr. Johan'
 'Penasco y Castellana, Mr. Victor de Satode'
 'Goldsmith, Mrs. Frank John (Emily Alice Brown)'
 'Walker, Mr. William Anderson' 'O\'Leary, Miss. Hanora "Norah"'
 'Jonsson, Mr. Carl' 'Kantor, Mrs. Sinai (Miriam Sternin)'
 'Meyer, Mr. Edgar Joseph' 'Barbara, Miss. Saiide'
 'Harris, Mrs. Henry Birkhardt (Irene Wallach)'
 'Olsen, Mr. Karl Siegwart Andreas' 'Goncalves, Mr. Manuel Estanslas'
 'Becker, Miss. Marion Louise' 'Thorneycroft, Mr. Percival'
 'Kelly, Mr. James' 'Heininen, Miss. Wendla Maria'
 "O'Connell, Mr. Patrick D" 'Moor, Mrs. (Beila)' 'Windelov, Mr. Einar'
 'Montvila, Rev. Juozas' 'Mitkoff, Mr. Mito' 'Williams, Mr. Leslie'
 'Ford, Miss. Robina Maggie "Ruby"'
 'Laroche, Miss. Simonne Marie Anne Andree'
 'Najib, Miss. Adele Kiamie "Jane"' 'Albimona, Mr. Nassef Cassem'
 'Futrelle, Mrs. Jacques Heath (Lily May Peel)'
 'Pears, Mrs. Thomas (Edith Wearne)' 'Bengtsson, Mr. John Viktor'
 'Ryan, Mr. Patrick' 'Waelens, Mr. Achille' 'Hassan, Mr. Houssein G N'
 'Murphy, Miss. Katherine "Kate"' 'Arnold-Franchi, Mr. Josef'
 'White, Mr. Percival Wayland' 'Baclini, Miss. Marie Catherine'
 'Roebling, Mr. Washington Augustus II' 'Pettersson, Miss. Ellen Natalia'
 'Jensen, Mr. Niels Peder' 'Oreskovic, Mr. Luka'
 'Harper, Mrs. Henry Sleeper (Myna Haxtun)'
 'Banfield, Mr. Frederick James' 'Fox, Mr. Stanley Hubert'
 'West, Mr. Edwy Arthur' 'Burns, Miss. Elizabeth Margaret'
 'Vestrom, Miss. Hulda Amanda Adolfina' 'Ridsdale, Miss. Lucy'
 'Lovell, Mr. John Hall ("Henry")' 'Coleff, Mr. Satio'
 'Garside, Miss. Ethel'
 'Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)'
 'Allison, Mrs. Hudson J C (Bessie Waldo Daniels)'
 'Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")'
 'Niskanen, Mr. Juha' 'Eklund, Mr. Hans Linus'
 'Davison, Mrs. Thomas Henry (Mary E Finck)' 'Guggenheim, Mr. Benjamin'
 'Bissette, Miss. Amelia' 'Maenpaa, Mr. Matti Alexanteri'
 'Harder, Mr. George Achilles' 'Hegarty, Miss. Hanora "Nora"'
 'Cacic, Mr. Luka' 'Andrews, Mr. Thomas Jr' 'Danbom, Mr. Ernst Gilbert'
 'Moor, Master. Meier' 'Widener, Mr. Harry Elkins'
 'Baxter, Mr. Quigg Edmond' 'Anderson, Mr. Harry'
 'Douglas, Mr. Walter Donald' 'Jacobsohn, Mr. Sidney Samuel'
 'Mangan, Miss. Mary' 'Sandstrom, Miss. Marguerite Rut'
 'Goodwin, Mr. Charles Edward' 'Cacic, Miss. Marija' 'Yousif, Mr. Wazli'
 'Reed, Mr. James George' 'Andersson, Mr. Anders Johan'
 'Markoff, Mr. Marin' 'Johannesen-Bratthammer, Mr. Bernt'
 'Smiljanic, Mr. Mile' 'Bishop, Mr. Dickinson H'
 'Nilsson, Miss. Helmina Josefina' 'Campbell, Mr. William'
 'Berriman, Mr. William John' 'Brown, Mrs. James Joseph (Margaret Tobin)'
 'Rothschild, Mrs. Martin (Elizabeth L. Barrett)'
 'Carrau, Mr. Francisco M' 'Nicola-Yarred, Master. Elias'
 'Celotti, Mr. Francesco'
 'Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)'
 'Pekoniemi, Mr. Edvard' 'Sharp, Mr. Percival James R'
 'Carter, Mrs. William Ernest (Lucile Polk)' 'Renouf, Mr. Peter Henry'
 'Stanley, Miss. Amy Zillah Elsie' 'Young, Miss. Marie Grice'
 'Dakic, Mr. Branko' 'Mallet, Master. Andre' 'Daly, Mr. Peter Denis '
 'Brown, Mr. Thomas William Solomon' 'Ward, Miss. Anna'
 'Ford, Mr. William Neal' 'Bonnell, Miss. Elizabeth'
 'Kallio, Mr. Nikolai Erland' 'Palsson, Miss. Torborg Danira'
 'Vanden Steen, Mr. Leo Peter' 'Berglund, Mr. Karl Ivar Sven'
 'Navratil, Master. Edmond Roger' 'Lobb, Mr. William Arthur'
 'Stead, Mr. William Thomas' 'Beckwith, Mr. Richard Leonard'
 'Henry, Miss. Delia' 'Abbing, Mr. Anthony' 'Nasser, Mr. Nicholas'
 'Harper, Miss. Annie Jessie "Nina"' 'Slabenoff, Mr. Petco'
 'Jonkoff, Mr. Lalio' 'Dean, Master. Bertram Vere' 'Morley, Mr. William'
 'Daly, Mr. Eugene Patrick' 'Davies, Master. John Morgan Jr'
 'Hedman, Mr. Oskar Arvid' 'Baclini, Miss. Helene Barbara'
 'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)'
 'Dodge, Master. Washington' 'Cohen, Mr. Gurshon "Gus"'
 'Braund, Mr. Owen Harris' 'Nirva, Mr. Iisakki Antino Aijo'
 'Rintamaki, Mr. Matti' 'Blackwell, Mr. Stephen Weart'
 'Sedgwick, Mr. Charles Frederick Waddington' 'Moran, Mr. Daniel J'
 'Levy, Mr. Rene Jacques' 'Connaghton, Mr. Michael'
 'Francatelli, Miss. Laura Mabel' 'Mellors, Mr. William John'
 'Jussila, Miss. Mari Aina'
 'Arnold-Franchi, Mrs. Josef (Josefine Franchi)'
 'Robert, Mrs. Edward Scott (Elisabeth Walton McMillan)'
 'Harrington, Mr. Charles H' 'Ibrahim Shawah, Mr. Yousseff'
 'Saalfeld, Mr. Adolphe' 'Stankovic, Mr. Ivan'
 'Fortune, Miss. Mabel Helen' 'Doling, Mrs. John T (Ada Julia Bone)'
 'Uruchurtu, Don. Manuel E' 'Hart, Mr. Benjamin'
 'Renouf, Mrs. Peter Henry (Lillian Jefferys)' 'Moutal, Mr. Rahamin Haim'
 'Holverson, Mr. Alexander Oskar' 'Gee, Mr. Arthur H'
 'Longley, Miss. Gretchen Fiske' 'Nicholls, Mr. Joseph Charles'
 'Vovk, Mr. Janko' 'Taussig, Mrs. Emil (Tillie Mandelbaum)'
 'Hoyt, Mr. William Fisher' 'Palsson, Miss. Stina Viola'
 'Ball, Mrs. (Ada E Hall)' 'Chambers, Mr. Norman Campbell'
 'Asplund, Master. Clarence Gustaf Hugo' 'Jussila, Miss. Katriina'
 'Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")'
 'Caldwell, Master. Alden Gates' 'Heikkinen, Miss. Laina'
 'Attalah, Mr. Sleiman' 'Birkeland, Mr. Hans Martin Monsen'
 'Haas, Miss. Aloisia' 'Appleton, Mrs. Edward Dale (Charlotte Lamson)'
 'Williams, Mr. Howard Hugh "Harry"' 'Saundercock, Mr. William Henry'
 'Hassab, Mr. Hammad' 'Peduzzi, Mr. Joseph' 'Colley, Mr. Edward Pomeroy'
 'Coxon, Mr. Daniel' 'Byles, Rev. Thomas Roussel Davids'
 'Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")'
 'Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)'
 'Baclini, Mrs. Solomon (Latifa Qurban)' 'Gilinski, Mr. Eliezer'
 'Lines, Miss. Mary Conover' 'Skoog, Mr. Wilhelm' 'Pasic, Mr. Jakob'
 'Yrois, Miss. Henriette ("Mrs Harbeck")' 'Farthing, Mr. John'
 'Karaic, Mr. Milan' 'Porter, Mr. Walter Chamberlain'
 'Williams-Lambert, Mr. Fletcher Fellows' 'Nosworthy, Mr. Richard Cater'
 'Lemberopolous, Mr. Peter L' 'Meanwell, Miss. (Marion Ogden)'
 'Bailey, Mr. Percy Andrew' 'Elias, Mr. Tannous'
 'Mannion, Miss. Margareth' 'Harmer, Mr. Abraham (David Lishin)'
 'Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)'
 'Slemen, Mr. Richard James' 'Sinkkonen, Miss. Anna'
 'Leader, Dr. Alice (Farnham)' 'Stewart, Mr. Albert A'
 'Bishop, Mrs. Dickinson H (Helen Walton)'
 'Andersson, Miss. Ebba Iris Alfrida' 'Torber, Mr. Ernst William'
 'Wilhelms, Mr. Charles' 'Kelly, Miss. Anna Katherine "Annie Kate"'
 'Hansen, Mr. Claus Peter' 'McGowan, Miss. Anna "Annie"'
 'Tomlin, Mr. Ernest Portage' 'Fortune, Mr. Charles Alexander'
 'Allen, Mr. William Henry' 'Greenfield, Mr. William Bertram'
 'Flynn, Mr. John Irwin ("Irving")' 'Reeves, Mr. David'
 'Lindqvist, Mr. Eino William' 'Lindell, Mr. Edvard Bengtsson'
 'Silven, Miss. Lyyli Karoliina' 'Thayer, Mr. John Borland Jr'
 'Goldsmith, Master. Frank John William "Frankie"' 'Kink, Mr. Vincenz'
 'Boulos, Mrs. Joseph (Sultana)' 'Rekic, Mr. Tido' 'Sadlier, Mr. Matthew'
 'Taussig, Miss. Ruth' 'Bryhl, Mr. Kurt Arnold Gottfrid'
 'Ayoub, Miss. Banoura' 'Caram, Mrs. Joseph (Maria Elias)'
 "O'Brien, Mr. Thomas" 'Sage, Mr. George John Jr'
 'Widegren, Mr. Carl/Charles Peter' 'Hanna, Mr. Mansour'
 'Nakid, Mr. Sahid' 'Hocking, Mrs. Elizabeth (Eliza Needs)'
 'Andersson, Miss. Ingeborg Constanzia'
 'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)'
 'Johansson, Mr. Karl Johan' 'Sagesser, Mlle. Emma' 'Ross, Mr. John Hugo'
 'Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)'
 'Giglio, Mr. Victor' 'Chambers, Mrs. Norman Campbell (Bertha Griggs)'
 'Millet, Mr. Francis Davis' 'Pernot, Mr. Rene'
 'Braund, Mr. Lewis Richard' 'Panula, Master. Juha Niilo'
 'Baumann, Mr. John D' 'Sage, Miss. Constance Gladys' 'Fry, Mr. Richard'
 'Andersen-Jensen, Miss. Carla Christine Nielsine'
 'Ryerson, Miss. Emily Borie' 'Mack, Mrs. (Mary)'
 'Kink-Heilmann, Miss. Luise Gretchen' 'Hendekovic, Mr. Ignjac'
 'Meyer, Mr. August' 'Osen, Mr. Olaf Elon' 'Carter, Mr. William Ernest'
 'Lefebre, Miss. Mathilde' 'Johnson, Mr. Malkolm Joackim'
 'Zabour, Miss. Thamine' 'Graham, Miss. Margaret Edith'
 'Slayter, Miss. Hilda Mary' 'Holm, Mr. John Fredrik Alexander'
 'Peters, Miss. Katie'
 'Holverson, Mrs. Alexander Oskar (Mary Aline Towner)'
 'Tornquist, Mr. William Henry' 'Newsom, Miss. Helen Monypeny'
 'Lehmann, Miss. Bertha' 'Webber, Miss. Susan'
 'Edvardsson, Mr. Gustaf Hjalmar' 'Cor, Mr. Liudevit'
 'Fischer, Mr. Eberhard Thelander' 'Nankoff, Mr. Minko'
 'Gilnagh, Miss. Katherine "Katie"' 'Sutehall, Mr. Henry Jr'
 'Bourke, Mrs. John (Catherine)' 'Sage, Mr. Douglas Bullen'
 'Angle, Mrs. William A (Florence "Mary" Agnes Hughes)'
 'Kiernan, Mr. Philip' 'Thomas, Master. Assad Alexander'
 'Crosby, Miss. Harriet R' 'Allison, Miss. Helen Loraine'
 'Murdlin, Mr. Joseph' 'Bourke, Mr. John' 'Johansson, Mr. Erik'
 'Baclini, Miss. Eugenie' 'Coutts, Master. William Loch "William"'
 'Asplund, Master. Edvin Rojj Felix' 'Olsson, Mr. Nils Johan Goransson'
 'Lahoud, Mr. Sarkis' 'Theobald, Mr. Thomas Leonard' 'Jussila, Mr. Eiriik'
 'Alhomaki, Mr. Ilmari Rudolf' 'Hagland, Mr. Konrad Mathias Reiersen'
 'Ilett, Miss. Bertha' 'Richards, Master. William Rowe'
 'Drew, Mrs. James Vivian (Lulu Thorne Christian)'
 'Hewlett, Mrs. (Mary D Kingcome) ' 'Hawksford, Mr. Walter James'
 'Futrelle, Mr. Jacques Heath' 'McMahon, Mr. Martin'
 'Giles, Mr. Frederick Edward' 'Ohman, Miss. Velin' 'Sirota, Mr. Maurice'
 'Newell, Mr. Arthur Webster' 'Flynn, Mr. John' 'Knight, Mr. Robert J'
 'Cameron, Miss. Clear Annie' 'Pinsky, Mrs. (Rosa)' 'Elias, Mr. Dibo'
 'Harrison, Mr. William' 'Gallagher, Mr. Martin' 'Rice, Master. Eric'
 'Hampe, Mr. Leon' 'Patchett, Mr. George' 'Ekstrom, Mr. Johan'
 'Healy, Miss. Hanora "Nora"' 'Long, Mr. Milton Clyde'
 'Spencer, Mrs. William Augustus (Marie Eugenie)'
 'Hagland, Mr. Ingvald Olai Olsen' 'Taussig, Mr. Emil'
 'Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)' 'Mallet, Mr. Albert'
 'Alexander, Mr. William' 'Goldenberg, Mrs. Samuel L (Edwiga Grabowska)'
 'Cairns, Mr. Alexander' 'Lievens, Mr. Rene Aime' 'Lefebre, Miss. Ida'
 'Van der hoef, Mr. Wyckoff' 'Johnston, Mr. Andrew G'
 'Panula, Master. Eino Viljami' 'Jensen, Mr. Hans Peder'
 'Moubarek, Master. Gerios'
 'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)'
 'Jermyn, Miss. Annie' 'Sloper, Mr. William Thompson'
 'Vander Planke, Miss. Augusta Maria' 'Carter, Miss. Lucile Polk'
 'Petroff, Mr. Nedelio' "O'Driscoll, Miss. Bridget" 'Kraeff, Mr. Theodor'
 'Scanlan, Mr. James' 'Troupiansky, Mr. Moses Aaron' 'McEvoy, Mr. Michael'
 'Strandberg, Miss. Ida Sofia' 'Herman, Mrs. Samuel (Jane Laver)'
 'Ostby, Mr. Engelhart Cornelius' 'Calic, Mr. Petar'
 'Frolicher-Stehli, Mr. Maxmillian' 'Abbott, Mrs. Stanton (Rosa Hunt)'
 'Newell, Miss. Marjorie' 'Goodwin, Master. Sidney Leonard'
 'Madill, Miss. Georgette Alexandra' 'Toomey, Miss. Ellen'
 'Johanson, Mr. Jakob Alfred'
 'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)'
 'Parrish, Mrs. (Lutie Davis)' 'Karun, Miss. Manca'
 'Morley, Mr. Henry Samuel ("Mr Henry Marshall")' 'Flynn, Mr. James'
 'Gustafsson, Mr. Johan Birger' 'Lang, Mr. Fang'
 'Collyer, Mrs. Harvey (Charlotte Annie Tate)' 'Doling, Miss. Elsie'
 'Keefe, Mr. Arthur' 'Stephenson, Mrs. Walter Bertram (Martha Eustis)'
 'Parkes, Mr. Francis "Frank"' 'Mellinger, Mrs. (Elizabeth Anne Maidment)'
 'Strom, Mrs. Wilhelm (Elna Matilda Persson)' 'Toufik, Mr. Nakli'
 'Gale, Mr. Shadrach' 'Rosblom, Mr. Viktor Richard'
 'Rush, Mr. Alfred George John'
 'Brown, Mrs. Thomas William Solomon (Elizabeth Catherine Ford)'
 'Hunt, Mr. George Henry' 'Wheadon, Mr. Edward H' 'Klasen, Mr. Klas Albin'
 'Hood, Mr. Ambrose Jr' 'Backstrom, Mr. Karl Alfred' 'Herman, Miss. Alice'
 'Pavlovic, Mr. Stefo' 'Navratil, Mr. Michel ("Louis M Hoffman")'
 'Funk, Miss. Annie Clemmer' 'Denkoff, Mr. Mitto'
 'Leinonen, Mr. Antti Gustaf' 'Goodwin, Master. William Frederick'
 'Adams, Mr. John' 'Andersson, Miss. Erna Alexandra'
 'Meek, Mrs. Thomas (Annie Louise Rowley)' 'Beavan, Mr. William Thomas'
 'Emir, Mr. Farred Chehab' 'Danoff, Mr. Yoto'
 'van Melkebeke, Mr. Philemon' 'Fynney, Mr. Joseph J'
 'Dean, Mr. Bertram Frank' 'Vande Velde, Mr. Johannes Joseph'
 'Frauenthal, Mrs. Henry William (Clara Heinsheimer)'
 'Moen, Mr. Sigurd Hansen' 'Eustis, Miss. Elizabeth Mussey'
 'Richards, Mrs. Sidney (Emily Hocking)' 'Madsen, Mr. Fridtjof Arne'
 'Moran, Miss. Bertha' 'Collyer, Mr. Harvey' 'Rice, Master. Arthur'
 'McKane, Mr. Peter David' 'Hosono, Mr. Masabumi'
 'Coelho, Mr. Domingos Fernandeo' 'Elsbury, Mr. William James'
 'Turja, Miss. Anna Sofia' 'Mudd, Mr. Thomas Charles'
 'Chapman, Mr. John Henry' 'Sage, Miss. Dorothy Edith "Dolly"'
 'Panula, Master. Urho Abraham' 'Touma, Mrs. Darwis (Hanne Youssef Razi)'
 'Asplund, Miss. Lillian Gertrud' 'Calic, Mr. Jovo'
 'Chibnall, Mrs. (Edith Martha Bowerman)' 'Kalvik, Mr. Johannes Halvorsen'
 'Hickman, Mr. Leonard Mark' 'Dick, Mrs. Albert Adrian (Vera Gillespie)'
 'Lewy, Mr. Ervin G' 'Partner, Mr. Austen'
 'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)'
 'Mullens, Miss. Katherine "Katie"' 'Turpin, Mr. William John Robert'
 'Moraweck, Dr. Ernest' 'Natsch, Mr. Charles H' 'Duane, Mr. Frank'
 'Dorking, Mr. Edward Arthur' 'Panula, Mr. Ernesti Arvid'
 'Bazzani, Miss. Albina' 'Crease, Mr. Ernest James'
 'Silverthorne, Mr. Spencer Victor' 'Bowen, Mr. David John "Dai"'
 'Somerton, Mr. Francis William'
 'Carter, Mrs. Ernest Courtenay (Lilian Hughes)'
 'Landergren, Miss. Aurora Adelia' 'Wright, Mr. George'
 'Sage, Miss. Stella Anna' 'Rugg, Miss. Emily'
 'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)'
 'Andreasson, Mr. Paul Edvin' 'Harper, Rev. John'
 'Watson, Mr. Ennis Hastings' 'Carter, Master. William Thornton II'
 'Coleff, Mr. Peju' 'Lurette, Miss. Elise'
 'Clarke, Mrs. Charles V (Ada Maria Winfield)' 'Shutes, Miss. Elizabeth W'
 'Rosblom, Mrs. Viktor (Helena Wilhelmina)'
 'Cunningham, Mr. Alfred Fleming' 'Chip, Mr. Chang' 'Abelson, Mr. Samuel'
 'Foreman, Mr. Benjamin Laventall' 'Skoog, Miss. Mabel'
 'Kent, Mr. Edward Austin' 'Nysveen, Mr. Johan Hansen' 'Boulos, Mr. Hanna'
 'Petterson, Mr. Johan Emil' 'Robbins, Mr. Victor'
 'Jarvis, Mr. John Denzil' 'Hickman, Mr. Lewis' 'Davies, Mr. Alfred J'
 'Johnson, Miss. Eleanor Ileen' 'Salonen, Mr. Johan Werner'
 'Allum, Mr. Owen George' 'Barber, Miss. Ellen "Nellie"'
 'Homer, Mr. Harry ("Mr E Haven")' 'Pickard, Mr. Berk (Berk Trembisky)'
 'Wiklund, Mr. Jakob Alfred' 'Lemore, Mrs. (Amelia Milley)'
 'Taylor, Mr. Elmer Zebley' 'Collander, Mr. Erik Gustaf'
 'Thayer, Mr. John Borland' 'Shellard, Mr. Frederick William'
 'Mionoff, Mr. Stoytcho' 'Jerwan, Mrs. Amin S (Marie Marthe Thuillard)'
 'Goodwin, Miss. Lillian Amy' 'Skoog, Miss. Margit Elizabeth'
 'Andersson, Master. Sigvard Harald Elias' 'Silvey, Mr. William Baird'
 'Troutt, Miss. Edwina Celia "Winnie"'
 'Graham, Mrs. William Thompson (Edith Junkins)' 'Woolner, Mr. Hugh'
 'McNamee, Mr. Neal' 'Gheorgheff, Mr. Stanio' 'Richard, Mr. Emile'
 'Greenberg, Mr. Samuel' 'Frauenthal, Dr. Henry William'
 'Palsson, Mrs. Nils (Alma Cornelia Berglund)' 'Beane, Mr. Edward'
 'Asim, Mr. Adola' 'Panula, Mr. Jaako Arnold' 'Boulos, Miss. Nourelain'
 'Panula, Mrs. Juha (Maria Emilia Ojala)'
 'Lindblom, Miss. Augusta Charlotta' 'Slocovski, Mr. Selman Francis'
 'Cribb, Mr. John Hatfield' 'Barton, Mr. David John'
 'Jardin, Mr. Jose Neto' 'Matthews, Mr. William John'
 'Moubarek, Master. Halim Gonios ("William George")'
 'Carter, Rev. Ernest Courtenay' 'Mernagh, Mr. Robert'
 'McCoy, Miss. Agnes' 'Sivola, Mr. Antti Wilhelm' 'Tikkanen, Mr. Juho'

#### 3. Preprocessing

> 수치형 컬럼
- PassengerId : 불필요컬럼 제거
- Pclass : 그대로
- Age : 결측치 중앙값 대체
- SibSp, Parch : 그대로
- Fare : 그대로

In [5]:
int_col = X_train.select_dtypes(exclude='object').columns

for c in int_col:
    print(c, X_train[c].nunique())
    print(np.sort(X_train[c].unique()))
    print('='*100)

PassengerId 712
[  1   2   3   4   5   6   7   8  11  12  13  14  15  16  18  19  20  21
  23  24  25  26  27  28  30  31  32  34  35  36  39  40  43  44  45  48
  50  51  52  53  54  55  56  57  58  59  60  61  64  65  66  68  69  70
  71  72  73  74  76  77  78  79  81  82  83  84  85  86  87  88  89  90
  91  92  94  95  97  98  99 101 102 103 104 105 106 108 109 110 111 113
 114 115 116 117 118 119 120 122 123 124 125 126 127 128 129 130 132 136
 137 138 139 140 141 143 144 145 146 147 148 149 150 151 152 153 154 155
 156 157 159 161 162 163 164 165 166 167 169 170 171 172 173 174 175 176
 177 179 181 182 183 184 185 186 189 190 191 192 193 194 195 196 197 198
 199 200 203 204 205 207 208 212 214 215 216 218 219 222 224 226 227 228
 229 230 231 234 235 237 239 240 241 242 243 244 245 246 247 249 250 251
 252 253 254 255 256 258 259 260 262 263 264 265 266 267 269 270 271 272
 273 274 275 276 277 278 279 280 281 282 284 286 289 291 292 293 294 295
 296 297 298 299 300 301 305 306 307 308 309 310 311 312 314 315 316 317
 318 319 320 322 323 324 325 326 327 328 329 331 332 333 335 336 338 340
 341 342 343 344 345 346 347 348 349 350 352 353 354 355 356 358 360 361
 362 364 365 366 367 369 370 371 372 373 375 377 378 380 381 382 383 384
 387 388 389 390 391 393 394 395 396 397 398 399 401 402 403 404 405 406
 407 408 409 410 411 412 414 416 417 418 419 421 422 423 424 425 426 427
 428 429 430 431 432 434 435 436 437 438 439 440 442 443 445 446 447 448
 449 451 452 453 455 456 457 459 460 461 462 463 465 466 467 469 470 471
 472 473 474 475 476 477 478 480 482 484 485 487 488 489 490 491 492 496
 497 498 499 500 501 503 506 509 510 511 512 513 514 515 516 517 518 519
 520 521 522 523 524 525 527 528 529 532 533 534 535 536 538 540 541 542
 543 544 545 546 550 551 552 553 555 556 557 558 559 560 562 565 566 568
 569 570 571 572 573 575 576 577 578 579 580 582 583 584 586 587 588 589
 590 591 592 593 595 596 597 599 600 601 602 603 604 605 606 607 609 610
 612 613 614 616 617 619 622 623 625 626 627 628 629 630 632 633 634 635
 637 638 639 640 641 642 643 645 647 648 650 651 652 653 654 655 656 657
 658 659 660 661 663 664 665 666 668 670 671 672 673 674 675 676 677 678
 679 681 682 684 685 687 688 689 690 691 692 694 695 697 698 699 701 702
 703 704 706 707 709 710 711 713 715 717 718 719 720 721 722 723 725 726
 727 728 729 730 731 732 733 734 735 736 738 739 740 741 742 743 744 747
 748 750 751 752 753 754 755 757 758 759 760 762 763 764 765 766 767 768
 769 770 771 772 773 774 775 776 778 779 780 781 782 783 784 785 786 789
 790 791 792 793 794 797 799 801 802 803 804 805 806 807 808 809 810 811
 813 814 815 816 817 818 819 821 822 823 824 825 826 828 830 831 832 833
 834 835 837 838 839 840 841 842 843 844 845 846 847 848 849 850 851 852
 853 854 855 856 858 859 861 862 863 864 865 866 867 868 869 873 874 875
 876 878 881 884 885 887 888 889 890 891]
====================================================================================================
Pclass 3
[1 2 3]
====================================================================================================
Age 84
[ 0.42  0.75  0.83  0.92  1.    2.    3.    4.    5.    6.    7.    8.
  9.   11.   12.   13.   14.   15.   16.   17.   18.   19.   20.   20.5
 21.   22.   23.   23.5  24.   24.5  25.   26.   27.   28.   28.5  29.
 30.   30.5  31.   32.   32.5  33.   34.   34.5  35.   36.   36.5  37.
 38.   39.   40.   40.5  41.   42.   43.   44.   45.   45.5  46.   47.
 48.   49.   50.   51.   52.   53.   54.   55.   55.5  56.   57.   58.
 59.   60.   61.   62.   63.   64.   65.   66.   70.   70.5  71.   74.
   nan]
====================================================================================================
SibSp 7
[0 1 2 3 4 5 8]
====================================================================================================
Parch 7
[0 1 2 3 4 5 6]
====================================================================================================
Fare 234
[  0.       5.       6.2375   6.4375   6.45     6.4958   6.75     6.8583
   6.95     6.975    7.0458   7.05     7.0542   7.125    7.1417   7.225
   7.2292   7.25     7.3125   7.4958   7.55     7.6292   7.65     7.725
   7.7292   7.7333   7.7375   7.7417   7.75     7.775    7.7875   7.7958
   7.8      7.8292   7.8542   7.875    7.8792   7.8875   7.8958   7.925
   8.0292   8.05     8.1125   8.1375   8.1583   8.3      8.3625   8.4042
   8.4333   8.4583   8.5167   8.6542   8.6625   8.85     9.       9.2167
   9.35     9.5      9.5875   9.825    9.8375   9.8417  10.1708  10.4625
  10.5     11.1333  11.2417  11.5     12.      12.275   12.2875  12.35
  12.475   12.525   12.875   13.      13.4167  13.5     13.7917  13.8583
  14.      14.1083  14.4     14.4542  14.4583  14.5     15.      15.0458
  15.05    15.1     15.2458  15.5     15.55    15.7417  15.75    15.85
  15.9     16.      16.1     16.7     17.4     17.8     18.      18.75
  18.7875  19.2583  19.5     19.9667  20.2125  20.25    20.525   20.575
  21.      21.075   22.025   22.3583  22.525   23.      23.25    23.45
  24.      24.15    25.4667  25.5875  25.925   25.9292  26.      26.25
  26.2833  26.2875  26.3875  26.55    27.      27.7208  27.75    27.9
  28.5     29.      29.125   29.7     30.      30.0708  30.5     30.6958
  31.      31.275   31.3875  32.3208  32.5     33.      33.5     34.0208
  34.375   34.6542  35.      35.5     36.75    37.0042  38.5     39.
  39.4     39.6     39.6875  40.125   41.5792  42.4     46.9     47.1
  49.5     49.5042  50.      50.4958  51.4792  51.8625  52.      52.5542
  53.1     55.      55.4417  55.9     56.4958  56.9292  57.      57.9792
  59.4     61.3792  61.9792  63.3583  65.      66.6     69.3     69.55
  71.      71.2833  73.5     75.25    76.2917  76.7292  77.2875  77.9583
  78.2667  78.85    79.2     79.65    80.      81.8583  82.1708  83.1583
  83.475   86.5     89.1042  90.      91.0792  93.5    106.425  108.9
 110.8833 113.275  120.     133.65   134.5    135.6333 146.5208 151.55
 153.4625 164.8667 211.3375 211.5    221.7792 227.525  247.5208 262.375
 263.     512.3292]
====================================================================================================

In [6]:
int_col = int_col.drop('PassengerId')

print(X_train[int_col].isnull().sum(), '\n')
print(X_test[int_col].isnull().sum())

Pclass      0
Age       137
SibSp       0
Parch       0
Fare        0
dtype: int64

Pclass     0
Age       40
SibSp      0
Parch      0
Fare       0
dtype: int64

In [7]:
X_train['Age'] = X_train['Age'].fillna(round(X_train['Age'].mean(),0))
X_test['Age'] = X_test['Age'].fillna(round(X_test['Age'].mean(),0))

print(X_train[int_col].isnull().sum(), '\n')
print(X_test[int_col].isnull().sum())

Pclass    0
Age       0
SibSp     0
Parch     0
Fare      0
dtype: int64

Pclass    0
Age       0
SibSp     0
Parch     0
Fare      0
dtype: int64

> 범주형 컬럼
- Name : 고유값 개수가 각 행마다 다르므로 제외
- Sex : 인코딩 필요
- Ticket : 고유값 개수가 너무 많으므로 제외
- Cabin : 결측치가 많으므로 제외
- Embarked : 결측치 최빈값으로 대체, 인코딩 필요

In [8]:
obj_col = X_train.select_dtypes(include='object').columns

for c in obj_col:
    print(c, X_train[c].nunique())
    print(X_train[c].unique())
    print('='*100)

Name 712
['Christmann, Mr. Emil' 'Johansson, Mr. Gustaf Joel'
 'Silvey, Mrs. William Baird (Alice Munger)' 'Newell, Miss. Madeleine'
 'Carbines, Mr. William' 'Becker, Master. Richard F' 'Harris, Mr. George'
 'Fortune, Mr. Mark' 'Gustafsson, Mr. Anders Vilhelm'
 'Duran y More, Miss. Asuncion' 'Parr, Mr. William Henry Marsh'
 'Smith, Mr. James Clinch' 'Dooley, Mr. Patrick'
 'Chronopoulos, Mr. Apostolos' 'Hays, Miss. Margaret Bechstein'
 'Maisner, Mr. Simon' 'Fahlstrom, Mr. Arne Jonas'
 'Keane, Mr. Andrew "Andy"' 'Petroff, Mr. Pastcho ("Pentcho")'
 'Baxter, Mrs. James (Helene DeLaudeniere Chaput)'
 'Kvillner, Mr. Johan Henrik Johannesson'
 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'
 'West, Miss. Constance Mirium' 'Serepeca, Miss. Augusta'
 'Astor, Mrs. John Jacob (Madeleine Talmadge Force)'
 'Givard, Mr. Hans Kristensen' 'Hart, Miss. Eva Miriam'
 'Bystrom, Mrs. (Karolina)' 'Yousseff, Mr. Gerious'
 'Johnston, Miss. Catherine Helen "Carrie"' 'Aks, Mrs. Sam (Leah Rosen)'
 'Jensen, Mr. Svend Lauritz' 'Sirayanian, Mr. Orsen'
 'Endres, Miss. Caroline Louise' 'Perreault, Miss. Anne'
 'Ivanoff, Mr. Kanio' 'Sutton, Mr. Frederick'
 'Coleridge, Mr. Reginald Charles' 'Gillespie, Mr. William Henry'
 'Olsen, Mr. Henry Margido' 'Bateman, Rev. Robert James'
 'Graham, Mr. George Edward' 'McGough, Mr. James Robert'
 'Staneff, Mr. Ivan' 'Ali, Mr. William' 'Doharr, Mr. Tannous'
 'Nakid, Miss. Maria ("Mary")' 'Weir, Col. John' 'Culumovic, Mr. Jeso'
 'McCarthy, Mr. Timothy J' 'Svensson, Mr. Johan'
 'Penasco y Castellana, Mr. Victor de Satode'
 'Goldsmith, Mrs. Frank John (Emily Alice Brown)'
 'Walker, Mr. William Anderson' 'O\'Leary, Miss. Hanora "Norah"'
 'Jonsson, Mr. Carl' 'Kantor, Mrs. Sinai (Miriam Sternin)'
 'Meyer, Mr. Edgar Joseph' 'Barbara, Miss. Saiide'
 'Harris, Mrs. Henry Birkhardt (Irene Wallach)'
 'Olsen, Mr. Karl Siegwart Andreas' 'Goncalves, Mr. Manuel Estanslas'
 'Becker, Miss. Marion Louise' 'Thorneycroft, Mr. Percival'
 'Kelly, Mr. James' 'Heininen, Miss. Wendla Maria'
 "O'Connell, Mr. Patrick D" 'Moor, Mrs. (Beila)' 'Windelov, Mr. Einar'
 'Montvila, Rev. Juozas' 'Mitkoff, Mr. Mito' 'Williams, Mr. Leslie'
 'Ford, Miss. Robina Maggie "Ruby"'
 'Laroche, Miss. Simonne Marie Anne Andree'
 'Najib, Miss. Adele Kiamie "Jane"' 'Albimona, Mr. Nassef Cassem'
 'Futrelle, Mrs. Jacques Heath (Lily May Peel)'
 'Pears, Mrs. Thomas (Edith Wearne)' 'Bengtsson, Mr. John Viktor'
 'Ryan, Mr. Patrick' 'Waelens, Mr. Achille' 'Hassan, Mr. Houssein G N'
 'Murphy, Miss. Katherine "Kate"' 'Arnold-Franchi, Mr. Josef'
 'White, Mr. Percival Wayland' 'Baclini, Miss. Marie Catherine'
 'Roebling, Mr. Washington Augustus II' 'Pettersson, Miss. Ellen Natalia'
 'Jensen, Mr. Niels Peder' 'Oreskovic, Mr. Luka'
 'Harper, Mrs. Henry Sleeper (Myna Haxtun)'
 'Banfield, Mr. Frederick James' 'Fox, Mr. Stanley Hubert'
 'West, Mr. Edwy Arthur' 'Burns, Miss. Elizabeth Margaret'
 'Vestrom, Miss. Hulda Amanda Adolfina' 'Ridsdale, Miss. Lucy'
 'Lovell, Mr. John Hall ("Henry")' 'Coleff, Mr. Satio'
 'Garside, Miss. Ethel'
 'Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)'
 'Allison, Mrs. Hudson J C (Bessie Waldo Daniels)'
 'Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")'
 'Niskanen, Mr. Juha' 'Eklund, Mr. Hans Linus'
 'Davison, Mrs. Thomas Henry (Mary E Finck)' 'Guggenheim, Mr. Benjamin'
 'Bissette, Miss. Amelia' 'Maenpaa, Mr. Matti Alexanteri'
 'Harder, Mr. George Achilles' 'Hegarty, Miss. Hanora "Nora"'
 'Cacic, Mr. Luka' 'Andrews, Mr. Thomas Jr' 'Danbom, Mr. Ernst Gilbert'
 'Moor, Master. Meier' 'Widener, Mr. Harry Elkins'
 'Baxter, Mr. Quigg Edmond' 'Anderson, Mr. Harry'
 'Douglas, Mr. Walter Donald' 'Jacobsohn, Mr. Sidney Samuel'
 'Mangan, Miss. Mary' 'Sandstrom, Miss. Marguerite Rut'
 'Goodwin, Mr. Charles Edward' 'Cacic, Miss. Marija' 'Yousif, Mr. Wazli'
 'Reed, Mr. James George' 'Andersson, Mr. Anders Johan'
 'Markoff, Mr. Marin' 'Johannesen-Bratthammer, Mr. Bernt'
 'Smiljanic, Mr. Mile' 'Bishop, Mr. Dickinson H'
 'Nilsson, Miss. Helmina Josefina' 'Campbell, Mr. William'
 'Berriman, Mr. William John' 'Brown, Mrs. James Joseph (Margaret Tobin)'
 'Rothschild, Mrs. Martin (Elizabeth L. Barrett)'
 'Carrau, Mr. Francisco M' 'Nicola-Yarred, Master. Elias'
 'Celotti, Mr. Francesco'
 'Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)'
 'Pekoniemi, Mr. Edvard' 'Sharp, Mr. Percival James R'
 'Carter, Mrs. William Ernest (Lucile Polk)' 'Renouf, Mr. Peter Henry'
 'Stanley, Miss. Amy Zillah Elsie' 'Young, Miss. Marie Grice'
 'Dakic, Mr. Branko' 'Mallet, Master. Andre' 'Daly, Mr. Peter Denis '
 'Brown, Mr. Thomas William Solomon' 'Ward, Miss. Anna'
 'Ford, Mr. William Neal' 'Bonnell, Miss. Elizabeth'
 'Kallio, Mr. Nikolai Erland' 'Palsson, Miss. Torborg Danira'
 'Vanden Steen, Mr. Leo Peter' 'Berglund, Mr. Karl Ivar Sven'
 'Navratil, Master. Edmond Roger' 'Lobb, Mr. William Arthur'
 'Stead, Mr. William Thomas' 'Beckwith, Mr. Richard Leonard'
 'Henry, Miss. Delia' 'Abbing, Mr. Anthony' 'Nasser, Mr. Nicholas'
 'Harper, Miss. Annie Jessie "Nina"' 'Slabenoff, Mr. Petco'
 'Jonkoff, Mr. Lalio' 'Dean, Master. Bertram Vere' 'Morley, Mr. William'
 'Daly, Mr. Eugene Patrick' 'Davies, Master. John Morgan Jr'
 'Hedman, Mr. Oskar Arvid' 'Baclini, Miss. Helene Barbara'
 'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)'
 'Dodge, Master. Washington' 'Cohen, Mr. Gurshon "Gus"'
 'Braund, Mr. Owen Harris' 'Nirva, Mr. Iisakki Antino Aijo'
 'Rintamaki, Mr. Matti' 'Blackwell, Mr. Stephen Weart'
 'Sedgwick, Mr. Charles Frederick Waddington' 'Moran, Mr. Daniel J'
 'Levy, Mr. Rene Jacques' 'Connaghton, Mr. Michael'
 'Francatelli, Miss. Laura Mabel' 'Mellors, Mr. William John'
 'Jussila, Miss. Mari Aina'
 'Arnold-Franchi, Mrs. Josef (Josefine Franchi)'
 'Robert, Mrs. Edward Scott (Elisabeth Walton McMillan)'
 'Harrington, Mr. Charles H' 'Ibrahim Shawah, Mr. Yousseff'
 'Saalfeld, Mr. Adolphe' 'Stankovic, Mr. Ivan'
 'Fortune, Miss. Mabel Helen' 'Doling, Mrs. John T (Ada Julia Bone)'
 'Uruchurtu, Don. Manuel E' 'Hart, Mr. Benjamin'
 'Renouf, Mrs. Peter Henry (Lillian Jefferys)' 'Moutal, Mr. Rahamin Haim'
 'Holverson, Mr. Alexander Oskar' 'Gee, Mr. Arthur H'
 'Longley, Miss. Gretchen Fiske' 'Nicholls, Mr. Joseph Charles'
 'Vovk, Mr. Janko' 'Taussig, Mrs. Emil (Tillie Mandelbaum)'
 'Hoyt, Mr. William Fisher' 'Palsson, Miss. Stina Viola'
 'Ball, Mrs. (Ada E Hall)' 'Chambers, Mr. Norman Campbell'
 'Asplund, Master. Clarence Gustaf Hugo' 'Jussila, Miss. Katriina'
 'Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")'
 'Caldwell, Master. Alden Gates' 'Heikkinen, Miss. Laina'
 'Attalah, Mr. Sleiman' 'Birkeland, Mr. Hans Martin Monsen'
 'Haas, Miss. Aloisia' 'Appleton, Mrs. Edward Dale (Charlotte Lamson)'
 'Williams, Mr. Howard Hugh "Harry"' 'Saundercock, Mr. William Henry'
 'Hassab, Mr. Hammad' 'Peduzzi, Mr. Joseph' 'Colley, Mr. Edward Pomeroy'
 'Coxon, Mr. Daniel' 'Byles, Rev. Thomas Roussel Davids'
 'Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")'
 'Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)'
 'Baclini, Mrs. Solomon (Latifa Qurban)' 'Gilinski, Mr. Eliezer'
 'Lines, Miss. Mary Conover' 'Skoog, Mr. Wilhelm' 'Pasic, Mr. Jakob'
 'Yrois, Miss. Henriette ("Mrs Harbeck")' 'Farthing, Mr. John'
 'Karaic, Mr. Milan' 'Porter, Mr. Walter Chamberlain'
 'Williams-Lambert, Mr. Fletcher Fellows' 'Nosworthy, Mr. Richard Cater'
 'Lemberopolous, Mr. Peter L' 'Meanwell, Miss. (Marion Ogden)'
 'Bailey, Mr. Percy Andrew' 'Elias, Mr. Tannous'
 'Mannion, Miss. Margareth' 'Harmer, Mr. Abraham (David Lishin)'
 'Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)'
 'Slemen, Mr. Richard James' 'Sinkkonen, Miss. Anna'
 'Leader, Dr. Alice (Farnham)' 'Stewart, Mr. Albert A'
 'Bishop, Mrs. Dickinson H (Helen Walton)'
 'Andersson, Miss. Ebba Iris Alfrida' 'Torber, Mr. Ernst William'
 'Wilhelms, Mr. Charles' 'Kelly, Miss. Anna Katherine "Annie Kate"'
 'Hansen, Mr. Claus Peter' 'McGowan, Miss. Anna "Annie"'
 'Tomlin, Mr. Ernest Portage' 'Fortune, Mr. Charles Alexander'
 'Allen, Mr. William Henry' 'Greenfield, Mr. William Bertram'
 'Flynn, Mr. John Irwin ("Irving")' 'Reeves, Mr. David'
 'Lindqvist, Mr. Eino William' 'Lindell, Mr. Edvard Bengtsson'
 'Silven, Miss. Lyyli Karoliina' 'Thayer, Mr. John Borland Jr'
 'Goldsmith, Master. Frank John William "Frankie"' 'Kink, Mr. Vincenz'
 'Boulos, Mrs. Joseph (Sultana)' 'Rekic, Mr. Tido' 'Sadlier, Mr. Matthew'
 'Taussig, Miss. Ruth' 'Bryhl, Mr. Kurt Arnold Gottfrid'
 'Ayoub, Miss. Banoura' 'Caram, Mrs. Joseph (Maria Elias)'
 "O'Brien, Mr. Thomas" 'Sage, Mr. George John Jr'
 'Widegren, Mr. Carl/Charles Peter' 'Hanna, Mr. Mansour'
 'Nakid, Mr. Sahid' 'Hocking, Mrs. Elizabeth (Eliza Needs)'
 'Andersson, Miss. Ingeborg Constanzia'
 'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)'
 'Johansson, Mr. Karl Johan' 'Sagesser, Mlle. Emma' 'Ross, Mr. John Hugo'
 'Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)'
 'Giglio, Mr. Victor' 'Chambers, Mrs. Norman Campbell (Bertha Griggs)'
 'Millet, Mr. Francis Davis' 'Pernot, Mr. Rene'
 'Braund, Mr. Lewis Richard' 'Panula, Master. Juha Niilo'
 'Baumann, Mr. John D' 'Sage, Miss. Constance Gladys' 'Fry, Mr. Richard'
 'Andersen-Jensen, Miss. Carla Christine Nielsine'
 'Ryerson, Miss. Emily Borie' 'Mack, Mrs. (Mary)'
 'Kink-Heilmann, Miss. Luise Gretchen' 'Hendekovic, Mr. Ignjac'
 'Meyer, Mr. August' 'Osen, Mr. Olaf Elon' 'Carter, Mr. William Ernest'
 'Lefebre, Miss. Mathilde' 'Johnson, Mr. Malkolm Joackim'
 'Zabour, Miss. Thamine' 'Graham, Miss. Margaret Edith'
 'Slayter, Miss. Hilda Mary' 'Holm, Mr. John Fredrik Alexander'
 'Peters, Miss. Katie'
 'Holverson, Mrs. Alexander Oskar (Mary Aline Towner)'
 'Tornquist, Mr. William Henry' 'Newsom, Miss. Helen Monypeny'
 'Lehmann, Miss. Bertha' 'Webber, Miss. Susan'
 'Edvardsson, Mr. Gustaf Hjalmar' 'Cor, Mr. Liudevit'
 'Fischer, Mr. Eberhard Thelander' 'Nankoff, Mr. Minko'
 'Gilnagh, Miss. Katherine "Katie"' 'Sutehall, Mr. Henry Jr'
 'Bourke, Mrs. John (Catherine)' 'Sage, Mr. Douglas Bullen'
 'Angle, Mrs. William A (Florence "Mary" Agnes Hughes)'
 'Kiernan, Mr. Philip' 'Thomas, Master. Assad Alexander'
 'Crosby, Miss. Harriet R' 'Allison, Miss. Helen Loraine'
 'Murdlin, Mr. Joseph' 'Bourke, Mr. John' 'Johansson, Mr. Erik'
 'Baclini, Miss. Eugenie' 'Coutts, Master. William Loch "William"'
 'Asplund, Master. Edvin Rojj Felix' 'Olsson, Mr. Nils Johan Goransson'
 'Lahoud, Mr. Sarkis' 'Theobald, Mr. Thomas Leonard' 'Jussila, Mr. Eiriik'
 'Alhomaki, Mr. Ilmari Rudolf' 'Hagland, Mr. Konrad Mathias Reiersen'
 'Ilett, Miss. Bertha' 'Richards, Master. William Rowe'
 'Drew, Mrs. James Vivian (Lulu Thorne Christian)'
 'Hewlett, Mrs. (Mary D Kingcome) ' 'Hawksford, Mr. Walter James'
 'Futrelle, Mr. Jacques Heath' 'McMahon, Mr. Martin'
 'Giles, Mr. Frederick Edward' 'Ohman, Miss. Velin' 'Sirota, Mr. Maurice'
 'Newell, Mr. Arthur Webster' 'Flynn, Mr. John' 'Knight, Mr. Robert J'
 'Cameron, Miss. Clear Annie' 'Pinsky, Mrs. (Rosa)' 'Elias, Mr. Dibo'
 'Harrison, Mr. William' 'Gallagher, Mr. Martin' 'Rice, Master. Eric'
 'Hampe, Mr. Leon' 'Patchett, Mr. George' 'Ekstrom, Mr. Johan'
 'Healy, Miss. Hanora "Nora"' 'Long, Mr. Milton Clyde'
 'Spencer, Mrs. William Augustus (Marie Eugenie)'
 'Hagland, Mr. Ingvald Olai Olsen' 'Taussig, Mr. Emil'
 'Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)' 'Mallet, Mr. Albert'
 'Alexander, Mr. William' 'Goldenberg, Mrs. Samuel L (Edwiga Grabowska)'
 'Cairns, Mr. Alexander' 'Lievens, Mr. Rene Aime' 'Lefebre, Miss. Ida'
 'Van der hoef, Mr. Wyckoff' 'Johnston, Mr. Andrew G'
 'Panula, Master. Eino Viljami' 'Jensen, Mr. Hans Peder'
 'Moubarek, Master. Gerios'
 'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)'
 'Jermyn, Miss. Annie' 'Sloper, Mr. William Thompson'
 'Vander Planke, Miss. Augusta Maria' 'Carter, Miss. Lucile Polk'
 'Petroff, Mr. Nedelio' "O'Driscoll, Miss. Bridget" 'Kraeff, Mr. Theodor'
 'Scanlan, Mr. James' 'Troupiansky, Mr. Moses Aaron' 'McEvoy, Mr. Michael'
 'Strandberg, Miss. Ida Sofia' 'Herman, Mrs. Samuel (Jane Laver)'
 'Ostby, Mr. Engelhart Cornelius' 'Calic, Mr. Petar'
 'Frolicher-Stehli, Mr. Maxmillian' 'Abbott, Mrs. Stanton (Rosa Hunt)'
 'Newell, Miss. Marjorie' 'Goodwin, Master. Sidney Leonard'
 'Madill, Miss. Georgette Alexandra' 'Toomey, Miss. Ellen'
 'Johanson, Mr. Jakob Alfred'
 'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)'
 'Parrish, Mrs. (Lutie Davis)' 'Karun, Miss. Manca'
 'Morley, Mr. Henry Samuel ("Mr Henry Marshall")' 'Flynn, Mr. James'
 'Gustafsson, Mr. Johan Birger' 'Lang, Mr. Fang'
 'Collyer, Mrs. Harvey (Charlotte Annie Tate)' 'Doling, Miss. Elsie'
 'Keefe, Mr. Arthur' 'Stephenson, Mrs. Walter Bertram (Martha Eustis)'
 'Parkes, Mr. Francis "Frank"' 'Mellinger, Mrs. (Elizabeth Anne Maidment)'
 'Strom, Mrs. Wilhelm (Elna Matilda Persson)' 'Toufik, Mr. Nakli'
 'Gale, Mr. Shadrach' 'Rosblom, Mr. Viktor Richard'
 'Rush, Mr. Alfred George John'
 'Brown, Mrs. Thomas William Solomon (Elizabeth Catherine Ford)'
 'Hunt, Mr. George Henry' 'Wheadon, Mr. Edward H' 'Klasen, Mr. Klas Albin'
 'Hood, Mr. Ambrose Jr' 'Backstrom, Mr. Karl Alfred' 'Herman, Miss. Alice'
 'Pavlovic, Mr. Stefo' 'Navratil, Mr. Michel ("Louis M Hoffman")'
 'Funk, Miss. Annie Clemmer' 'Denkoff, Mr. Mitto'
 'Leinonen, Mr. Antti Gustaf' 'Goodwin, Master. William Frederick'
 'Adams, Mr. John' 'Andersson, Miss. Erna Alexandra'
 'Meek, Mrs. Thomas (Annie Louise Rowley)' 'Beavan, Mr. William Thomas'
 'Emir, Mr. Farred Chehab' 'Danoff, Mr. Yoto'
 'van Melkebeke, Mr. Philemon' 'Fynney, Mr. Joseph J'
 'Dean, Mr. Bertram Frank' 'Vande Velde, Mr. Johannes Joseph'
 'Frauenthal, Mrs. Henry William (Clara Heinsheimer)'
 'Moen, Mr. Sigurd Hansen' 'Eustis, Miss. Elizabeth Mussey'
 'Richards, Mrs. Sidney (Emily Hocking)' 'Madsen, Mr. Fridtjof Arne'
 'Moran, Miss. Bertha' 'Collyer, Mr. Harvey' 'Rice, Master. Arthur'
 'McKane, Mr. Peter David' 'Hosono, Mr. Masabumi'
 'Coelho, Mr. Domingos Fernandeo' 'Elsbury, Mr. William James'
 'Turja, Miss. Anna Sofia' 'Mudd, Mr. Thomas Charles'
 'Chapman, Mr. John Henry' 'Sage, Miss. Dorothy Edith "Dolly"'
 'Panula, Master. Urho Abraham' 'Touma, Mrs. Darwis (Hanne Youssef Razi)'
 'Asplund, Miss. Lillian Gertrud' 'Calic, Mr. Jovo'
 'Chibnall, Mrs. (Edith Martha Bowerman)' 'Kalvik, Mr. Johannes Halvorsen'
 'Hickman, Mr. Leonard Mark' 'Dick, Mrs. Albert Adrian (Vera Gillespie)'
 'Lewy, Mr. Ervin G' 'Partner, Mr. Austen'
 'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)'
 'Mullens, Miss. Katherine "Katie"' 'Turpin, Mr. William John Robert'
 'Moraweck, Dr. Ernest' 'Natsch, Mr. Charles H' 'Duane, Mr. Frank'
 'Dorking, Mr. Edward Arthur' 'Panula, Mr. Ernesti Arvid'
 'Bazzani, Miss. Albina' 'Crease, Mr. Ernest James'
 'Silverthorne, Mr. Spencer Victor' 'Bowen, Mr. David John "Dai"'
 'Somerton, Mr. Francis William'
 'Carter, Mrs. Ernest Courtenay (Lilian Hughes)'
 'Landergren, Miss. Aurora Adelia' 'Wright, Mr. George'
 'Sage, Miss. Stella Anna' 'Rugg, Miss. Emily'
 'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)'
 'Andreasson, Mr. Paul Edvin' 'Harper, Rev. John'
 'Watson, Mr. Ennis Hastings' 'Carter, Master. William Thornton II'
 'Coleff, Mr. Peju' 'Lurette, Miss. Elise'
 'Clarke, Mrs. Charles V (Ada Maria Winfield)' 'Shutes, Miss. Elizabeth W'
 'Rosblom, Mrs. Viktor (Helena Wilhelmina)'
 'Cunningham, Mr. Alfred Fleming' 'Chip, Mr. Chang' 'Abelson, Mr. Samuel'
 'Foreman, Mr. Benjamin Laventall' 'Skoog, Miss. Mabel'
 'Kent, Mr. Edward Austin' 'Nysveen, Mr. Johan Hansen' 'Boulos, Mr. Hanna'
 'Petterson, Mr. Johan Emil' 'Robbins, Mr. Victor'
 'Jarvis, Mr. John Denzil' 'Hickman, Mr. Lewis' 'Davies, Mr. Alfred J'
 'Johnson, Miss. Eleanor Ileen' 'Salonen, Mr. Johan Werner'
 'Allum, Mr. Owen George' 'Barber, Miss. Ellen "Nellie"'
 'Homer, Mr. Harry ("Mr E Haven")' 'Pickard, Mr. Berk (Berk Trembisky)'
 'Wiklund, Mr. Jakob Alfred' 'Lemore, Mrs. (Amelia Milley)'
 'Taylor, Mr. Elmer Zebley' 'Collander, Mr. Erik Gustaf'
 'Thayer, Mr. John Borland' 'Shellard, Mr. Frederick William'
 'Mionoff, Mr. Stoytcho' 'Jerwan, Mrs. Amin S (Marie Marthe Thuillard)'
 'Goodwin, Miss. Lillian Amy' 'Skoog, Miss. Margit Elizabeth'
 'Andersson, Master. Sigvard Harald Elias' 'Silvey, Mr. William Baird'
 'Troutt, Miss. Edwina Celia "Winnie"'
 'Graham, Mrs. William Thompson (Edith Junkins)' 'Woolner, Mr. Hugh'
 'McNamee, Mr. Neal' 'Gheorgheff, Mr. Stanio' 'Richard, Mr. Emile'
 'Greenberg, Mr. Samuel' 'Frauenthal, Dr. Henry William'
 'Palsson, Mrs. Nils (Alma Cornelia Berglund)' 'Beane, Mr. Edward'
 'Asim, Mr. Adola' 'Panula, Mr. Jaako Arnold' 'Boulos, Miss. Nourelain'
 'Panula, Mrs. Juha (Maria Emilia Ojala)'
 'Lindblom, Miss. Augusta Charlotta' 'Slocovski, Mr. Selman Francis'
 'Cribb, Mr. John Hatfield' 'Barton, Mr. David John'
 'Jardin, Mr. Jose Neto' 'Matthews, Mr. William John'
 'Moubarek, Master. Halim Gonios ("William George")'
 'Carter, Rev. Ernest Courtenay' 'Mernagh, Mr. Robert'
 'McCoy, Miss. Agnes' 'Sivola, Mr. Antti Wilhelm' 'Tikkanen, Mr. Juho'
 'Barah, Mr. Hanna Assi' 'Andersson, Miss. Sigrid Elisabeth'
 'Petranec, Miss. Matilda' 'Navratil, Master. Michel M'
 'Cleaver, Miss. Alice' 'del Carlo, Mr. Sebastiano'
 'Gronnestad, Mr. Daniel Danielsen' 'Youseff, Mr. Gerious'
 'Kassem, Mr. Fared' 'Goodwin, Mrs. Frederick (Augusta Tyler)'
 'Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)'
 'Sheerlinck, Mr. Jan Baptist' 'Lundahl, Mr. Johan Svensson'
 'Thayer, Mrs. John Borland (Marian Longstreth Morris)'
 'Mitchell, Mr. Henry Michael' 'Olsen, Mr. Ole Martin'
 'van Billiard, Mr. Austin Blyler'
 'West, Mrs. Edwy Arthur (Ada Mary Worth)'
 'Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards)'
 'Gaskell, Mr. Alfred' 'Burke, Mr. Jeremiah'
 'Richards, Master. George Sibley' 'Kilgannon, Mr. Thomas J'
 'Brewe, Dr. Arthur Jackson' 'Van Impe, Mr. Jean Baptiste'
 'Wiseman, Mr. Phillippe' 'Saad, Mr. Amin' 'Augustsson, Mr. Albert'
 'Bjornstrom-Steffansson, Mr. Mauritz Hakan'
 'Ryerson, Miss. Susan Parker "Suzette"' 'Andrew, Mr. Edgardo Samuel'
 'Carlsson, Mr. August Sigfrid' 'Nicola-Yarred, Miss. Jamila'
 'Hays, Mrs. Charles Melville (Clara Jennings Gregg)'
 'Todoroff, Mr. Lalio' 'de Messemaeker, Mrs. Guillaume Joseph (Emma)'
 'Bostandyeff, Mr. Guentcho' 'Goldschmidt, Mr. George B'
 'Mellinger, Miss. Madeleine Violet' 'Turcin, Mr. Stjepan'
 'Wells, Miss. Joan' 'Lefebre, Master. Henry Forbes'
 'Nenkoff, Mr. Christo' 'Charters, Mr. David'
 'Ilmakangas, Miss. Pieta Sofia' 'Carlsson, Mr. Frans Olof'
 'Simonius-Blumer, Col. Oberst Alfons' 'Clifford, Mr. George Quincy'
 'Thorneycroft, Mrs. Percival (Florence Kate White)'
 'Gill, Mr. John William' 'Bracken, Mr. James H'
 'Wick, Miss. Mary Natalie' 'Leyson, Mr. Robert William Norman'
 'Saad, Mr. Khalil' 'Smith, Miss. Marion Elsie'
 'Aubart, Mme. Leontine Pauline' 'Mineff, Mr. Ivan'
 'Downton, Mr. William James' 'Abelson, Mrs. Samuel (Hannah Wizosky)'
 'Andersson, Mr. August Edvard ("Wennerstrom")' 'Elias, Mr. Joseph Jr'
 'Moore, Mr. Leonard Charles' 'Moss, Mr. Albert Johan'
 'Lesurer, Mr. Gustave J' 'Buss, Miss. Kate'
 'Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")' 'Hirvonen, Miss. Hildur E'
 'Oreskovic, Miss. Marija' 'Ponesell, Mr. Martin' 'Attalah, Miss. Malake'
 'Eitemiller, Mr. George Floyd' 'Hart, Mr. Henry'
 'Stone, Mrs. George Nelson (Martha Evelyn)'
 'Pengelly, Mr. Frederick William' 'Fleming, Miss. Margaret'
 'Davidson, Mr. Thornton' 'Andrews, Miss. Kornelia Theodosia'
 'Rommetvedt, Mr. Knud Paust' "O'Connor, Mr. Maurice"
 'Hogeboom, Mrs. John C (Anna Andrews)' 'Williams, Mr. Charles Duane'
 'Leitch, Miss. Jessie Wills' 'Jalsevac, Mr. Ivan' 'LeRoy, Miss. Bertha'
 'Mockler, Miss. Helen Mary "Ellie"'
 'Coutts, Master. Eden Leslie "Neville"' 'Murphy, Miss. Margaret Jane'
 'Emanuel, Miss. Virginia Ethel' 'Seward, Mr. Frederic Kimber'
 'Andersson, Miss. Ellis Anna Maria' 'Hold, Mr. Stephen'
 'Frolicher, Miss. Hedwig Margaritha' 'Svensson, Mr. Olof'
 'Minahan, Dr. William Edward' 'Palsson, Master. Gosta Leonard'
 'Hale, Mr. Reginald' 'Brown, Miss. Amelia "Mildred"'
 'Williams, Mr. Charles Eugene' 'Hakkarainen, Mr. Pekka Pietari'

In [9]:
print(X_train[obj_col].isnull().sum(), '\n')
print(X_test[obj_col].isnull().sum())

Name          0
Sex           0
Ticket        0
Cabin       542
Embarked      1
dtype: int64

Name          0
Sex           0
Ticket        0
Cabin       145
Embarked      1
dtype: int64

In [10]:
obj_col = obj_col.drop(['Name', 'Ticket','Cabin'])

In [11]:
X_train['Embarked'] = X_train['Embarked'].fillna(X_train['Embarked'].mode()[0])
X_test['Embarked'] = X_test['Embarked'].fillna(X_test['Embarked'].mode()[0])

print(X_train[obj_col].isnull().sum(), '\n')
print(X_test[obj_col].isnull().sum())

Sex         0
Embarked    0
dtype: int64

Sex         0
Embarked    0
dtype: int64

In [12]:
print(X_train[obj_col].shape, X_train[int_col].shape)
print(X_test[obj_col].shape, X_test[int_col].shape)

(712, 2) (712, 5)
(179, 2) (179, 5)

In [13]:
X = pd.concat([X_train[obj_col], X_train[int_col]], axis=1)
test = pd.concat([X_test[obj_col], X_test[int_col]], axis=1)
y = y_train['Survived']

display(X, test, y)

        Sex Embarked  Pclass   Age  SibSp  Parch      Fare
90     male        S       3  29.0      0      0    8.0500
103    male        S       3  33.0      0      0    8.6542
577  female        S       1  39.0      1      0   55.9000
215  female        C       1  31.0      1      0  113.2750
191    male        S       2  19.0      0      0   13.0000
..      ...      ...     ...   ...    ...    ...       ...
621    male        S       1  42.0      1      0   52.5542
128  female        C       3  29.0      1      1   22.3583
57     male        C       3  28.5      0      0    7.2292
341  female        S       1  24.0      3      2  263.0000
116    male        Q       3  70.5      0      0    7.7500

[712 rows x 7 columns]

        Sex Embarked  Pclass   Age  SibSp  Parch     Fare
210    male        S       3  24.0      0      0   7.0500
876    male        S       3  20.0      0      0   9.8458
666    male        S       2  25.0      0      0  13.0000
819    male        S       3  10.0      3      2  27.9000
736  female        S       3  48.0      1      3  34.3750
..      ...      ...     ...   ...    ...    ...      ...
494    male        S       3  21.0      0      0   8.0500
871  female        S       1  47.0      1      1  52.5542
530  female        S       2   2.0      1      1  26.0000
157    male        S       3  30.0      0      0   8.0500
45     male        S       3  31.0      0      0   8.0500

[179 rows x 7 columns]

90     0
103    0
577    1
215    1
191    0
      ..
621    1
128    1
57     0
341    1
116    0
Name: Survived, Length: 712, dtype: int64

In [14]:
X = pd.get_dummies(X)
test = pd.get_dummies(test)

display(X, test)

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
90,3,29.0,0,0,8.0500,0,1,0,0,1
103,3,33.0,0,0,8.6542,0,1,0,0,1
577,1,39.0,1,0,55.9000,1,0,0,0,1
215,1,31.0,1,0,113.2750,1,0,1,0,0
191,2,19.0,0,0,13.0000,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...
621,1,42.0,1,0,52.5542,0,1,0,0,1
128,3,29.0,1,1,22.3583,1,0,1,0,0
57,3,28.5,0,0,7.2292,0,1,1,0,0
341,1,24.0,3,2,263.0000,1,0,0,0,1
116,3,70.5,0,0,7.7500,0,1,0,1,0

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
210,3,24.0,0,0,7.0500,0,1,0,0,1
876,3,20.0,0,0,9.8458,0,1,0,0,1
666,2,25.0,0,0,13.0000,0,1,0,0,1
819,3,10.0,3,2,27.9000,0,1,0,0,1
736,3,48.0,1,3,34.3750,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
494,3,21.0,0,0,8.0500,0,1,0,0,1
871,1,47.0,1,1,52.5542,1,0,0,0,1
530,2,2.0,1,1,26.0000,1,0,0,0,1
157,3,30.0,0,0,8.0500,0,1,0,0,1
45,3,31.0,0,0,8.0500,0,1,0,0,1

In [15]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X = scaler.fit_transform(X)
test = scaler.transform(test)

X, test

(array([[ 0.84874956, -0.02556909, -0.48584612, ..., -0.49692575,
         -0.29217435,  0.61848547],
        [ 0.84874956,  0.27975904, -0.48584612, ..., -0.49692575,
         -0.29217435,  0.61848547],
        [-1.52574822,  0.73775123,  0.42447608, ..., -0.49692575,
         -0.29217435,  0.61848547],
        ...,
        [ 0.84874956, -0.0637351 , -0.48584612, ...,  2.01237307,
         -0.29217435, -1.61685287],
        [-1.52574822, -0.40722924,  2.24512048, ..., -0.49692575,
         -0.29217435,  0.61848547],
        [ 0.84874956,  3.14221021, -0.48584612, ..., -0.49692575,
          3.42261387, -1.61685287]]),
 array([[ 0.84874956, -0.40722924, -0.48584612, ..., -0.49692575,
         -0.29217435,  0.61848547],
        [ 0.84874956, -0.71255737, -0.48584612, ..., -0.49692575,
         -0.29217435,  0.61848547],
        [-0.33849933, -0.33089721, -0.48584612, ..., -0.49692575,
         -0.29217435,  0.61848547],
        ...,
        [-0.33849933, -2.08653393,  0.42447608, ..., -0.49692575,
         -0.29217435,  0.61848547],
        [ 0.84874956,  0.05076294, -0.48584612, ..., -0.49692575,
         -0.29217435,  0.61848547],
        [ 0.84874956,  0.12709498, -0.48584612, ..., -0.49692575,
         -0.29217435,  0.61848547]]))

#### 4. Modeling

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier, XGBRFClassifier

from sklearn.metrics import roc_auc_score, accuracy_score

In [17]:
from sklearn.model_selection import train_test_split

X_tr, X_val, y_tr, y_val = train_test_split(X, y, test_size=0.2, random_state=156)

In [18]:
lr = LogisticRegression(random_state=156)
rf = RandomForestClassifier(random_state=156)
gb = GradientBoostingClassifier(random_state=156)
xgb = XGBClassifier(random_state=156)
xgb_rf = XGBRFClassifier(random_state=156)

In [19]:
models = [lr, rf, gb, xgb, xgb_rf]

for model in models:
    model.fit(X_tr, y_tr)
    pred = model.predict(X_val)
    pred_proba = model.predict_proba(X_val)[:,1]
    
    name = model.__class__.__name__
    print(name)
    print('accuracy :', round(accuracy_score(y_val, pred),4))
    print('auc : ', round(roc_auc_score(y_val, pred_proba),4))
    print('='*100)

LogisticRegression
accuracy : 0.8042
auc :  0.8955
====================================================================================================
RandomForestClassifier
accuracy : 0.8392
auc :  0.9056
====================================================================================================
GradientBoostingClassifier
accuracy : 0.8462
auc :  0.882
====================================================================================================
XGBClassifier
accuracy : 0.8601
auc :  0.9088
====================================================================================================
XGBRFClassifier
accuracy : 0.8462
auc :  0.9121
====================================================================================================

In [20]:
xgb.fit(X, y)
pred = xgb.predict(test)

In [21]:
model.score(test, y_test['Survived']) # 가채점

0.770949720670391

In [22]:
outdata = pd.DataFrame({'PassengerId': X_test.PassengerId, 'Survived': pred})
outdata

     PassengerId  Survived
210          211         0
876          877         0
666          667         0
819          820         0
736          737         1
..           ...       ...
494          495         0
871          872         1
530          531         1
157          158         0
45            46         0

[179 rows x 2 columns]

In [23]:
# outdata.to_csv('1234567.csv', index=False)